<div class="{{wrapperClassName}}">
    <h2>Навигация по страницам</h2>

    <ul class="links_list">
        {{#each links}}
        <li>
            <a href="{{this}}">
                {{this}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>

{{footer}}